# Configuración de Base de Datos MySQL
# Si MySQL corre nativamente en el host del servidor y no conecta con la IP pública,
# puedes usar DB_HOST=host.docker.internal o 172.17.0.1
DB_HOST=169.58.241.118
DB_PORT=3306
DB_USER=consultorio_web
DB_PASSWORD=Consultorio2026
DB_NAME=consultorio

# Seguridad JWT para autenticación del sistema
JWT_SECRET=coagro_2026_super_secret_consultorio

# Puerto público en el que responderá la aplicación web (Frontend + API integrada)
PORT_WEB=8085
